# Node modules
node_modules/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Build output
dist/
build/

# Coverage
coverage/

# Temporary
*.tmp
*.log
.DS_Store
